<div class="container">
  <h1>To Do Application</h1>
  <div class="list-group">
    <a [class]="todo.Completed == true ? 'list-group-item list-group-item-success' : 'list-group-item list-group-item-warning' "
    *ngFor="let todo of TodoList" (click)="CompleteItem(todo)">{{todo.ItemName}} <button class="btn btn-danger" (click)="DeleteItem(todo)"> Delete </button></a>
    
  </div>
  <div class="list-group">
    <a class="list-group-item"><input type="text" class="form-control" [(ngModel)]="Todo.ItemName"></a>
    <a class="list-group-item"><button class="btn btn-success" (click)="AddItem()">Add Item</button></a>
  </div>
</div>

<router-outlet></router-outlet>
